@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #dbdce2;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.gradient-animation {
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
}

.cards:hover > .card:not(:hover) {
    filter: blur(2px);
}
