@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #dbdce2;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.gradient-animation {
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
}

.cards:hover > .card:not(:hover) {
    filter: blur(2px);
}

@keyframes moveUpDown {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.move-up-down {
    animation: moveUpDown 1s ease-in-out forwards;
}

@keyframes moveDownUp {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.move-down-up {
    animation: moveDownUp 1s ease-in-out forwards;
}

@keyframes moveLeftRight {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.move-left-right {
    animation: moveLeftRight 1s ease-in-out forwards;
}

@keyframes moveRightLeft {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.move-right-left {
    animation: moveRightLeft 1s ease-in-out forwards;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out 0.3s, transform 0.5s ease-out 0.3s;
    will-change: opacity, transform;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}
